@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Castoro:ital@0;1&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Jost:ital,wght@0,100..900;1,100..900&family=Libre+Barcode+39+Text&family=Orbitron:wght@900&family=Playwrite+VN+Guides&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
